{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} {{"Console Comparison"}} {% endblock %}</h1>
{% endblock %}
{% block content %}

<div style="text-align:center; width: 60%; margin: 2rem auto 0 auto;">
        <canvas class="col-6" id="thisChart"></canvas>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>

var videoGameConsoles = [];
var videoGameSales = [];
{% for console in labels %}
    videoGameConsoles.push('{{console}}');
{% endfor %}
{% for sales in values %}
    videoGameSales.push({{sales}});
{% endfor %}

var data = {
    labels: videoGameConsoles,
    datasets: [{
        label: 'Global Sales in Millions, by Console',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255,99,132)',
        data: videoGameSales
    }]
};
var config = {
    type: 'bar',
    data,
    options: {}
};

    var thisChart = new Chart(
        document.getElementById('thisChart'),
        config
    );

</script>
{% endblock %}
