<h1>{{video_game.name}}</h1>
<ul>
    <li>All-Time Rank: {{video_game.rank}}</li>
    <li>Platform: {{video_game.platform}}</li>
    <li>Release year: {{video_game.year}}</li>
    <li>Genre: {{video_game.genre}}</li>
    <li>Publisher: {{video_game.publisher}}</li>
    <li>North American Sales: {{video_game.na_sales}} million</li>
    <li>European Sales: {{video_game.eu_sales}} million</li>
    <li>Japanese Sales: {{video_game.jp_sales}} million</li>
    <li>Other Sales: {{video_game.other_sales}} million</li>
    <li>Global Sales: {{video_game.global_sales}} million</li>
</ul>